<% provide(:title, 'About Us') %>
<% provide(:site_section, "4") %>
<h1>About Us</h1>
<p>
<b>Link Up is a programme designed to support disadvantaged London students to engage with the extra-curricular activities around them in order to help them build up the skills they need to compete for University places and jobs later on in life.</b><br><br>

Link-up connects secondary school students with opportunities which will develop them socially, intellectually, emotionally and creatively. The program was developed, not only to connect students with opportunities around them in their school and community, but help build the key skills of the participants to encourage them to get involved in the local area and attend extra-curricular activities, such as sports, drama, art, volunteering and work experience. The four key skills students will develop through Link Up are Engagement, Confidence, Resilience and Altruism.<br><br>

Whether it is through volunteering, football, music, debating or drama, we believe that engagement in activities outside of lessons is integral to the development of vital skills and future success of every student.<br><br>

<b>Why is Link Up needed?</b><br><br>

Link Up’s founders are two teachers working in disadvantaged schools, and have found that it is not academic attainment, but lack of experience, engagement, confidence and resilience which is holding back students from deprived backgrounds. Research has shown that students who partake in extra-curricular activities, whether that be sports, drama, volunteering or work, develop resilience (Oliver et al, 2006), higher than expected grades (Eccles 2003), school value (i.e. perception of importance of school for the future) and self-esteem (Fredericks, 2008).<br><br>

Research has also shown that students from disadvantaged backgrounds: <br><br>

A.       fall behind their more privileged peers in terms of university entrance. This is due to their lack wider experience and the way they present themselves in their personal statements (Jones, 2012 on behalf of the Sutton Trust), not because of their academic attainment.<br><br>

B.      fall behind their more privileged peers in the world of work. Although the state-school-educated graduates outperform those from public schools (88% to 85% receiving 2:1 or 1st class degrees), only 58% of state-school-educated graduates find a professional job, compared to 74% of independently educated graduates in the same period (Bristol University, 2013). This is often due to a lack of the ‘softer’ non -academic skills required to succeed in interviews and assessment centres.<br><br>

See this short video for more information: <a href=http://www.youtube.com/watch?v=mlKd84ZwmDs&feature=youtu.be>www.youtube.com/watch?v=mlKd84ZwmDs</a> <br><br>

<b>So what is Link Up?</b><br><br>

Link Up exists to support schools to facilitate the access of all students to a wide range of activities and opportunities in their local community. We provide resources, support, guidance and training for schools who wish to broaden the horizons of their students outside of the classroom.<br><br>

At the heart of our project is a system of peer mentoring. Year 10s (15 year olds) are given leadership training by qualified youth leaders so that they can mentor the Year 7s, who are in their first year of secondary school and are strongly influenced by the examples set by the older students. Mentors will be provided with training and resources to help them to engage their mentees with the opportunities available to them. This includes a web-based resource with a map and search function. Mentors and mentees meet over a one year period; twice every half term for a meeting and once each half term for a skills workshop. The mentors develop crucial leadership skills and the mentees are encouraged by their mentors to attend extra-curricular activities in or outside of schools to help them develop the four key soft skills.<br><br>

<b>What do Ofsted think?</b><br><br>

One of Link Up's schools was recently inspected by Ofsted and the inspectors were extremely impressed to see older students supporting younger ones.<br><br>

The Ofsted report said: "Peer mentoring contributes to students' moral development."<br><br>

Ofsted shares Link Up's belief in the power of extra curricular opportunities to improve students' life chances.<br><br>

The report claimed that "A broad range of experiences in and out of school helps students' spiritual, moral, social and cultural development."<br><br>

<b>What next?</b><br><br>

If you would like to know more or want to bring Link Up into your school, please get in touch at <a href=mailto:info@link-up.org.uk>info@link-up.org.uk</a>.
</p>