<% provide(:title, 'Help') %>
<% provide(:site_section, "4") %>
<h1>Help</h1>
<p>Welcome to Link Up! If you can't find what you're looking for on this page, <a href="mailto:info@link-up.org.uk">email us</a>.
	<% if (signed_in? && current_user.role != "student") %>
		If you're looking for how to edit events, venues, and other listings, <%= link_to "try the Management page", management_path %>.
	<% end %>
</p>
<hr>
<h2>Creating an account</h2>
<p><%= link_to "Sign up", signup_path %> to get more out of Link Up. You can create a diary of events you're attending, write reviews of them, get news updates from your local venues and send messages to teachers, parents, and mentors.</p><br>
<hr>
<h2>Finding events</h2>
<p>You can search from the homepage to find events near you or with a certain category. Or <%= link_to "browse events", events_path %> to search by time, cost, gender, and so on. You can also <%= link_to "browse by category", tags_path %>.</p>
<hr>
<h2>Your diary</h2>
<p>You can create a diary of all the events you want to attend and you'll get a reminder when they're on. Hit "Add to Diary" on an event and it'll get added to your diary for that week, or "Favourite" to add it every week.</p>
<hr>
<h2>Mentoring</h2>
<p>On the top right corner of the page you'll see the Mentoring link. You can set up mentoring links with other students at your school by clicking New Mentorship and searching for their name.<br>
Once you've sent a request, they'll receive a message and mentoring request and they can then choose to accept it. Then you'll need a teacher or admin to approve the link, and then you're up and running!<br>
In a mentorship you can message each other and mentors can view their mentees' diary and favourites. If at any point you want to leave a mentoring relationship you're in, click Mentoring in the top right corner, scroll to that mentor's name, and click Delete.</p>
<hr>
<h2>Logbooks</h2>
<p>You can keep track of mentor meetings as well as a diary of clubs and societies in your Logbook. Under the Personal menu, click New Logbook Entry, write away, and hit Save - it'll go in your logbook. Remember to tick "Mentor Meeting" if you met your mentor!<hr>
<hr>
<h2>I run a club/society that I'd like to put on the site! How can I upgrade my account?</h2>
<p><a href="mailto:info@link-up.org.uk">Email us</a> at Link Up and we'll upgrade your account. As an Event Organiser you can create events and advertise them. Or if you'd just like one listing added, we can just put that up ourselves without upgrading you.<p>
<br>
<p>Didn't help? <a href="mailto:info@link-up.org.uk">Email us</a>.</p>
