<% provide(:title, "How to edit the site") %>
<% provide(:site_section, "2") %>

<h1>How to edit records on Link Up</h1>

<h2>Adding and editing venues</h2>
<p> All events on the Link Up website have to be attached to a Venue, be it a school, youth club, sports centre, and so on. You can add venues by clicking New Venue in the Manage menu.<br><br>First, choose a name for the venue, and a description of what it has to offer. Then add a street address and postcode so it will automatically appear on the interactive map. You can also add contact details.<br><br>Once you've created your venue, you can edit it by going to its page and clicking Edit (below the map, if you're logged in). You can also delete venues you've created, but bear in mind this will irreversibly delete all events associated with that venue!</p>
<hr>
<h2>Adding and editing events</h2>
<p>Events are the core of the website - with information on where and when a club or thing will be held, and who it is open to. All events have to occur at a venue listed on the site, so first create a venue (see above section).<br><br>Once you have a venue, you can make an event by clicking New Event under the Manage menu, or by viewing a venue you've created. You can add a name and description as to what the event involves, as well as contact details and a website (these are all optional), plus any gender requirements. Add complex cost information (e.g. discounts or membership deals) in the Cost Details, but also add a simple number in pence in the Cost section - this is needed for the search feature.<br><br>Now to add the time and date information for the event. Click "Add Session", and enter the date and time for the first event (the site will assume each event recurs weekly until the end of time). You can add multiple sessions in one week by clicking Add Session or Remove Session as many times as you like, or you can leave the event with no sessions at all (it can't be added to a student's Favourites if you do this, though).</p>
<hr>
<h2>Reviews</h2>
<p>Anyone with an account can review events listed on the site, but they won't appear on the event's page until the review has been approved by a moderator - like you! You can approve reviews by clicking "Approve Reviews" under the Manage menu.
<br>
<hr>
<b>Questions? Feedback? Stuck? <a href="mailto:help@link-up.org.uk">Email the site admins for help</a> at help@link-up.org.uk!</b>