<div class="login-tab">
  <%= button_to "SIGN UP NOW", signup_path, method: 'get', class: "btn btn-mega-search btn-primary btn-login" %>
  <h4>Log in</h4>
  <div id='tab' %>
    <%= render 'sessions/login_details' %>
  </div>
</div>
