<% provide(:title, "My logbook") %>
<% provide(:site_section, "2") %>

<h1>My Logbook</h1>

<% if @logbook_entries.any? %>
  <ul class="generic-list">
    <%= render @logbook_entries %>
  </ul>
<% else %>
  No logbook entries found. <%= link_to "Create a new one!", new_logbook_entry_path %>
<% end %>
