<tr id="request">
  <td><%= link_to user.name, user_logbook_entries_path(user) %></td>
  <% sessions.each do |session| %>
    <% if user.has_completed(session) != 0 %>
      <%= content_tag :td, class: "has_completed#{user.has_completed(session)}" do %>
        <%= link_to "View entry", user_logbook_entry_path(user, user.logbook_entries.find_by(template_id: session.id).id) %>
      <% end %>
    <% else %>
      <%= content_tag :td, "Not yet filled in", class: "has_completed#{user.has_completed(session)}" %>
    <% end %>      
  <% end %>
</tr>