<%= render 'shared/user_bar' %>
<br>
<% if signed_in? %>
  <%= render 'shared/navigation_buttons' %>
<% else %>
<div class="bulbasaur">
  <%= render 'sessions/login_tabs' %>
  <%= render 'shared/tagline' %>
</div>
<% end %>
