<nav class="major-nav">
  <ul class="major-nav-btn">
    <% puts "================= #{yield(:site_section)} ===================" %>
    <li><%= link_to "Find Events", events_path, class: ((yield(:site_section)!='1' && yield(:site_section)!='2' && yield(:site_section)!='3' && yield(:site_section)!='4') ? "btn btn-large btn-primary" : "btn btn-large") %></li>
    <li><%= link_to "Browse Categories", tags_path, class: (yield(:site_section)=='1' ? "btn btn-large btn-primary" : "btn btn-large") %></li>
    <li><%= link_to "My Events", my_events_path, class: (yield(:site_section)=='2' ? "btn btn-large btn-primary" : "btn btn-large") %></li>
    <li><%= link_to "Messages (#{session[:message_notif]})", inbox_path, class: (yield(:site_section)=='3' ? "btn btn-large btn-primary" : "btn btn-large") %></li>
  </ul>
</nav>
