<div class="tagline">
  <h2>We're here to help you find <br>opportunities in your local area.</h2>
  <ul>
	<li><%= button_to "ABOUT US", about_path, method: 'get', class: "btn btn-primary" %></li>
    <li><%= button_to "CONTACT US", contact_path, method: 'get', class: "btn" %></li>
    <li><%= button_to "NEWS", news_path, method: 'get', class: "btn" %></li>
  </ul>
</div>
