<nav>

  <ul class="user-bar">
    <% if signed_in? %>
      <li><%= link_to "Sign out", endsession_path, method: "get" %></li>
      <li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
      <% unless current_user.school == "None" && !(admin?) %>
        <li><%= link_to "Mentoring"+ (session[:mentor_notif]=="0" ? " (#{session[:mentor_notif]})" : ""), mentoring_path %></li>
      <% end %>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
    <% end %>
  </ul>
</nav>
