<li>
  <span class="name and date"><%= link_to event.name, event_path(event.id) %><%= event.day_info %>, <%= event.cost_details %></span>
  <span class="description"><%= event.description %></span>
</li>
