<%= form_for(current_user.favourites.build(event_id: @event.id), remote: true) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <%= f.submit "Favourite", class: "btn btn-primary" %>
<% end %>
