
  <h1>On today</h1>
  <% if @todays_events.any? %>
    <% @todays_events.each do |session| %>
      <li><%= link_to Event.find(session.event_id).name, Event.find(session.event_id) %> <%= session.start_time.to_s(:time_day) %></li>
    <% end %>
  <% else %>
    Nothing listed.
  <% end %>

