<table>
  <% @event.timings.each do |t| %>
    <tr>
      <td><%= Date::DAYNAMES[t.start_time.wday][0,3] %></td>
      <td><%= t.start_time.to_s(:time_day)+"-"+t.end_time.to_s(:time_day) %></td>
      <% if signed_in? %>
        <td><%= render "events/diary_form", st_t: Chronic.parse("this "+Date::DAYNAMES[t.day.to_i].to_s+" "+t.start_time.to_s(:time_day)) %></td><!-- adds this COMING week's session on that day to user's diary -->
        <td><%= render "events/favourite_form", oclock: t.start_time %></td>
      <% end %>
    </tr>
  <% end %>
</table>
