<% provide(:title, 'All events') %>
<% provide(:site_section, 0) %>
<% if @number==nil
     str = ""
   else
     str = "at "+Venue.find(@number).name
   end %>
<h1>All events <% str %></h1>

<aside class="events_map">
  <%= gmaps4rails(@json) %>
</aside>
<div id="events_list">
  <h4 id="toggleform">Search</h4>
  <div class="neweventform">
    <%= render 'search' %>
  </div>

  <% if @events.any? %>

    <ul class="generic-list">
      <%= render @events, size: 52 %>
    </ul>

  <% else %>

    <p>No events found.</p>

  <% end %>
</div>
