<% provide(:title, 'All events') %>
<% provide(:site_section, 0) %>
<h1>All events</h1>

<aside class="events_map">
  <%= gmaps4rails(@json) %>
</aside>
<div id="events_list">
  <div id="search-toggle">
    <h4 id="toggleform">Search</h4>
  </div>
  <div class="togglediv">
    <%= render 'search' %>
  </div>

  <div id="result_list">
    <%= render 'index_results' %>
  </div>
</div>
