<ul class="activity-list">
  <% @events.each do |e| %>
    <li><%= link_to e.name, e %>
    <% if admin? || organiser?(e) %>
      | <%= link_to "delete", e, method: :delete, data: { confirm: "This will delete all details!\nYou sure?" } %>
    <% end %>
    </li>
  <% end %>
</ul>
<% if admin? || organiser?(@venue) %>
  <h4 id="toggleform">Add new event</h4>
  <div class="togglediv">
    <%= render 'events/new_event' %>
  </div>
<% end %>
