<ul class="activity-list">
  <% @events.each do |e| %>
    <li><%= link_to e.name, e %>
    <% if signed_in? && (current_user.admin? || (current_user.organiser? && @venue.user_id == current_user.id)) %>
<%= e.class.to_s %>
      | <%= link_to "delete", e, method: :delete, data: { confirm: "This will delete all details!\nYou sure?" } %>
    <% end %>
    </li>
  <% end %>
  <% if signed_in? && (current_user.admin? || (current_user.organiser? && @venue.user_id == current_user.id)) %>
    <li id="toggleform">Add new event</li>
    <div class="neweventform">
      <%= render 'events/new_event' %>
    </div>
  <% end %>
</ul>
