<p class="fields">
  <%= f.label :start_time, "Start time (in the Gregorian calendar, if you please)" %>
  <%= f.datetime_select :start_time %><br />

  <%= link_to_remove_fields "remove", f %>

</p>

