<% provide(:title, 'All categories') %>
<% provide(:site_section, "1") %>
<h1>Browse categories</h1>

<% if @tags.any? %>

  <ul class="tags">
    <%= render @tags %>
  </ul>

<% else %>

  <p>No tags listed.</p>

<% end %>
