<% provide(:title, 'Category '+@tag.name) %>
<% provide(:site_section, "1") %>

<aside class="span2">
  <%= image_tag("tag_icons/large/#{@tag.name}.png", size: "100x100", alt: @tag.name) %>
</aside>

<h1>Browse <%= @tag.name %> events</h1>

<% if @events.any? %>

  <ul class="generic-list">
    <%= render @events %>
  </ul>

<% else %>

  <p>No events listed with this tag.</p>

<% end %>
