<% unless current_user?(user) %>
  <div id="mentor_form">

  <% if current_user.mentoring?(user) %>
    Already sent a mentor request.
   <% else %>
    <%= render 'start_mentoring', user: user %>
  <% end %>

  </div>
<% end %>
