<table class="generic-list">
  <% @users.each do |u| %>
    <% unless u.id == current_user.id %>
      <tr>
        <td><b><%= u.name %></b></td>
        <td><%= render 'mentor', { user: u } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
